# Node modules & dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Secret files
.env
.env.local

# Test outputs & reports
reports/*.html
reports/*.json
test-results/

# OS metadata
.DS_Store
Thumbs.db
